extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Generative AI at Mastercard: Governance Takes Center Stage
      p We think that virtually every company should be educating its senior executives and board members about generative AI.

  .row.text-center
    .col-xs-12
      p.large-font
        | If you saw the action-adventure movie Everything Everywhere All at Once, you might have had the same reaction we did. Impressive and exciting? No doubt — that’s one reason why it won seven Academy Awards. A portent of the future? Perhaps — as scientists explore the idea of a multiverse, the film provides one vision of what it might look like. Somewhat bizarre and confusing? Well, to us anyway.
      p.large-font
        | JoAnn Stonier, until recently Mastercard’s chief data officer, made an apt comparison between the movie and generative AI when she appeared on a recent panel. “Everything everywhere” is a good way to characterize the technology — exciting, confusing, and important all at the same time. We have previously written about Stonier and her unusual position as one of the few CDOs who has been heavily focused on data ethics for many years. We interviewed her on one of her last days as CDO; she’s since become a Mastercard fellow but will still work on data and AI ethics issues.
  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new') Add Review
          h2.panel-title Reviews
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                h3 Rating: ★★★★★ (5/5)
                span.reviewAuthor Simon Holmes
                small.reviewTimestamp 15 august 2023
              .col-xs-12
                p "nice article."

          .row
            .review
              .well.well-sm.review-header
                h3 Rating: ★★★☆☆ (3/5)
                span.reviewAuthor Charlie Chaplin
                small.reviewTimestamp 12 august 2023
                p "This article is a highly informative and well-researched piece that addresses a critical topic of our time."

  .col-xs-12.col-md-3
