extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Learning From and With AI: Duolingo’s Zan Gilani
      p On the Me, Myself, and AI podcast, Duolingo’s Zan Gilani shares how AI personalizes the language app and motivates users.

  .row.text-center
    .col-xs-12
      p.large-font
        | When Zan Gilani came to the U.S. from Pakistan to complete his undergraduate studies, he chose to study Chinese because it was rumored to be a difficult language. At the time, the tech industry was booming, and he quickly became interested in applying his passion for foreign languages and learning more generally in a technology-rich environment.

      p.large-font
        | Those interests led Zan to Duolingo, where he has been working in product management for eight years and now oversees the app company’s experiential AI team. What excites him about working at the language-learning app company is his ability to help build solutions that enable personalized education at scale: The app boasts over 16 million daily active users, and AI-driven functionality motivates them through frequent notifications, personalizes learning experiences by adjusting the difficulty of questions in practice sessions, and observes and critiques learners’ performance.

      p.large-font
        | Zan joins the Me, Myself, and AI podcast to outline the specific ways Duolingo uses AI and machine learning to drive user engagement, and discuss how the technology can be used to support learning more generally.
        
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new') Add Review
          h2.panel-title Reviews
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                h3 Rating: ★★★★★ (5/5)
                span.reviewAuthor Simon Holmes
                small.reviewTimestamp 15 august 2023
              .col-xs-12
                p "nice article."

          .row
            .review
              .well.well-sm.review-header
                h3 Rating: ★★★☆☆ (3/5)
                span.reviewAuthor Charlie Chaplin
                small.reviewTimestamp 12 august 2023
                p "This article is a highly informative and well-researched piece that addresses a critical topic of our time"

  .col-xs-12.col-md-3
