extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Top Performers Have a Superpower: Happiness
      p Research using employee data has uncovered the top five predictors of attrition and offers four actionable steps that managers can take in the short term to reduce attrition.

  .row.text-center
    .col-xs-12
      p.large-font
        | The toll that working through the global pandemic has taken on employees' job satisfaction and emotional well-being has focused business leaders on fostering workforce happiness as never before. While many — if not most — of us are motivated by genuine caring for the people who power our organizations, we also intuitively know that employee happiness should boost job performance. Still, two nagging questions remain: Which comes first, succeeding and then being happy, or being happy and then succeeding? And just how much does initial happiness matter?

      p.large-font
        | The results of our recent research, published in the Journal of Happiness Studies, have gotten us one big step closer to answering those two questions. For our study, we followed almost 1 million U.S. Army soldiers for nearly five years. We first asked them to rate their well-being — their happiness, if you will — along with their optimism, and then tracked which soldiers later received awards based on their job performance. We collected our data in the midst of the wars in Iraq and Afghanistan, so the stakes were high: Some of those awards were for exemplary assigned job performance, while others were earned for extraordinary performance in heroic actions. Receiving an award in the Army, either for exemplary job performance or for heroism, is a relatively rare event. Of the nearly 1 million soldiers in our sample, only 12% received an award of any type during the five years that we ran the study.

  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new') Add Review
          h2.panel-title Reviews
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                h3 Rating: ★★★★★ (5/5)
                span.reviewAuthor Simon Holmes
                small.reviewTimestamp 15 august 2023
              .col-xs-12
                p "nice article."

          .row
            .review
              .well.well-sm.review-header
                h3 Rating: ★★★☆☆ (3/5)
                span.reviewAuthor Charlie Chaplin
                small.reviewTimestamp 12 august 2023
              .col-xs-12
                p "This article is a highly informative and well-researched piece that addresses a critical topic of our time"

  .col-xs-12.col-md-3
