extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Consume Daily
          small &nbsp;Read the best articles out there.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Top Performers Have a Superpower: Happiness
            span.badge.pull-right.badge-default #1
          p.address Research using employee data reveals the top five predictors of attrition and four actions managers can take in the short term to reduce attrition.
          p
            span.label.label-warning Corporate Culture
            | &nbsp;
            span.label.label-warning Employee Evaluation
            | &nbsp;
            span.label.label-warning Human Resources
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location/2') Generative AI at Mastercard: Governance Takes Center Stage
            span.badge.pull-right.badge-default #2
          p.address We think that virtually every company should be educating its senior executives and board members about generative AI.
          p
            span.label.label-warning Generative AI
            | &nbsp;
            span.label.label-warning Artificial Intelligence
            | &nbsp;
            span.label.label-warning AI Strategy
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location/3') Learning From and With AI: Duolingo’s Zan Gilani
            span.badge.pull-right.badge-default #3
          p.address On the Me, Myself, and AI podcast, Duolingo’s Zan Gilani shares how AI personalizes the language app and motivates users.
          p
            span.label.label-warning Data, AI, & Machine Learning
            | &nbsp;
            span.label.label-warning New Product Development
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Seeking insights and opinions? Browse through Consume Daily's user-driven reviews and discover new perspectives on articles that pique your interest. Explore thought-provoking content, share your own reviews, and let Consume Daily be your guide to the articles you're looking for.